{% extends "art/layout.html" %}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for image in images %}

        <div class="col mb-4" >
          <div class="card shadow-sm showHover">
            <img src="{{image.image.url}}" class="img-responsive" alt="..."  style="width:100%; height:100%;" >

            <!-- <role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->

            <div class="card-body" style="margin-top: -3.7em;">
              <div class="d-flex justify-content-between align-items-center">
              
                  <small class="hideHover" > <a href="{% url 'image' image.id %}" style="text-decoration: none; color: #ee4723; font-size: 12px; font-weight: bold">View</a></small>
                  <button class="hideHover" data-toggle="{{image.id}}" id="myBtn{{image.id}}" data-name="{{image.imageName}}" style="font-size: 10px; font-weight: bold; background-color: transparent; border:#ee4723;color:#ee482356">Expand</button>
              </div>
            </div>
          </div>
        </div>

          <!-- The Modal -->
          <div id="myModal" class="modal" tabindex="-1">
            <!-- Modal content -->
            <div class="modal-content">
            <span class="close">&times;</span>
              <div class="modal-body">
                <img src="{{image.image.url}}" class="img-responsive" alt="..."  style="width:50%; height:50%;" >
              </div>
              <h4 class="modal-title">{{image.imageName}}</h4>
            </div>

          </div>

      
        {% endfor %}

        </div>
        </div>
        </div>
        
        
          
{% endblock content %}