{% extends "art/layout.html" %}
{% block content %}
<div class='image-background hero'>
    <div class='container-fluid h-100 mask' style="background-color: rgba(0, 0, 0, 0.8);">
      <div class='row h-100 align-items-center'>
        <div class='col-12 text-center'>
        <p style="height:100px"></p>
          <h1 class='display-2'>A&nbsp;R&nbsp;T&nbsp; S&nbsp;P&nbsp;A&nbsp;C&nbsp;E&nbsp;</h1>
          <p style="height:10px"></p>
          <p class='lead'>Photography is an art... We've got <span class="fw-bold"> <a href="{% url 'explore' %}" style="text-decoration: none; color: #ee4723">Mood-boards</a></span> for your eyes.</p>
          <p style="height:10px"></p>
          <button class="button-17"> <a href="{% url 'explore' %}" style="text-decoration:none; color:#ee4723">EXPLORE</a></button>

        </div>
      </div>
    </div>
</div>
{% endblock content %}