{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    {% if title %}
        <title>ArtSpace-{{ title }}</title>
    {% else %}
        <title>Art Space</title>
    {% endif %}    
    
    <!--CSS -->
    {% block styles %}
    {% bootstrap_css %}
         <link rel="stylesheet" type="text/css" href="{% static 'art/style.css' %}">
    {% endblock %}
</head>
<body>
  <header class="site-header" >
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'home' %}">ArtSpace</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'explore' %}">Explore</a>
                </div>
                <!-- Navbar right-->
                <div class="navbar-nav ms-auto">
                    <!-- {% if current_user.is_authenticated %} -->
                        <!-- <a class="nav-item nav-link align-right" href="#">New Post</a> -->
                        <!-- <a class="nav-item nav-link align-right" href="#">Account</a> -->
                        <!-- <a class="nav-item nav-link align-right" href="#">Logout</a> -->
                    <!-- {% else%} -->
                        <a class="nav-item nav-link align-right" href="#">Login</a>
                        <a class="nav-item nav-link align-right" href="#">Register</a>
                    <!-- {% endif %} -->
                    </div>
            </div> 
        </div>
    </nav>
</header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>