{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    {% if title %}
        <title>ArtSpace-{{ title }}</title>
    {% else %}
        <title>Art Space</title>
    {% endif %}    
    
    <!--CSS -->
    {% block styles %}
    {% bootstrap_css %}
         <link rel="stylesheet" type="text/css" href="{% static 'art/style.css' %}">
    {% endblock %}
</head>
<body>
  <header class="site-header" >
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'home' %}" style="color: #ee4723; font-weight: bolder;">ArtSpace</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'explore' %}">Explore</a>
                    <a class="nav-item nav-link" href="{% url 'explore' %}">Food </a>
                    <a class="nav-item nav-link" href="{% url 'explore' %}">Nature</a>
                    <a class="nav-item nav-link" href="{% url 'explore' %}">Melanin</a>
                    <a class="nav-item nav-link" href="{% url 'explore' %}">Landscape</a>
                    <a class="nav-item nav-link" href="{% url 'explore' %}">Black & White</a>

                </div>
                <!-- Navbar right-->
                <!-- search form end -->
                <div class="col-sm-4 col-md-4 navbar-right">

                  <form class="navbar-form" role="search" action="{% url 'explore' %}">
          
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search Boards" name="article">
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                      </div>
                    </div>
          
                  </form>
                </div>
                <!-- search form end -->
                <div class="navbar-nav ms-auto">
                  
                    <!-- {% if current_user.is_authenticated %} -->
                        <!-- <a class="nav-item nav-link align-right" href="#">New Post</a> -->
                        <!-- <a class="nav-item nav-link align-right" href="#">Account</a> -->
                        <!-- <a class="nav-item nav-link align-right" href="#">Logout</a> -->
                    <!-- {% else%} -->
                        <a class="nav-item nav-link align-right" href="#">Login</a>
                        <a class="nav-item nav-link align-right" href="#">Register</a>
                    <!-- {% endif %} -->
                    </div>
            </div> 
        </div>
    </nav>
</header>

    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</body>
</html>